<br/>
<br/>
<br>
<br>
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">About Me</h3>
      </div>
      <div class="panel-body">
        Mi nombre es Enzo , estoy aprendiendo a usar ruby , mas especificamente la herramienta rails.
        Por el momento estoy tratando de hacer la pagina lo mas autenticamente posible y de ahi dejarla para poder mostrar
        mi trabajo a un futuro empleador
      </div>
    </div>

  </div>
  <div class="col-md-8">
    <%=image_tag("mifoto.jpg",size:"500x300") %>
  </div>
</div>




<br/>
