<div class="jumbotron">
  <h1>Welcome To My App </h1>
  <p>Hope that i could learn</p>
  <%= link_to 'home', root_path, class:'btn btn-default' %>
    <%= link_to 'About us', home_about_path,  class:'btn btn-primary' %></div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


